
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
}

.text{
    text-align: center;
    display: block;
    margin-top: 40px;
    font-size: 35px;
    font-weight: 450;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
}

.container{
    text-align: center;
    margin-top: 50px;
}

input{
    width: 250px;
    padding: 10px;
    outline: white;
}

.text-center{
    text-align: center;
    padding: 20px;
}

button{
    background-color: rgb(10, 124, 255);
    color: #fff;
    font-size: 10px;
    border-radius: 15px;
    padding: 9.5px 20px;
    font-family: arial;
}

button:hover{
    cursor: pointer;
}

.keep{
    display: flex;
    justify-content: center;
}
.keep input{
    margin-left: -100px;
}
.keep span{
    margin-left: -110px;
    color: gray;
    font-family: arial;
    font-size: 13px;
}


.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.footer:hover{
    cursor: pointer;
}

p:hover{
    text-decoration: underline;
}


